*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    background: #b4bad2;
    color: #fffce1;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
}


a {
    color: #4e4a46;
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    color: #f50057;
    outline: none;
}

button:focus {
    outline: none;
}



/* Header */

.codrops-header {
    margin: 0 auto;
    padding: 1em 2em;
    text-align: center;
}

.codrops-header h1 {
    margin: 0 auto;
    font-weight: 800;
    font-size: 3.75em;
    line-height: 1;
}


@media screen and (max-width: 40em) {
    body {
        font-size: 80%;
    }

}



#head {
    margin: 20vh auto 0;
    color: white;
    /*    font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

#ani {
    font-size: 5em;
    color: white;
    animation-duration: 2s;
    animation-delay: 3s;
    /*    animation-iteration-count: 1;*/
}

#web {
    font-size: 1.5em;
    margin-top: -2em;
    animation-duration: 2s;
    animation-delay: 4s;
}

#arrow {
    animation-duration: 1s;
    animation-delay: 4s;
    color: #bdbdbd;
}

#arrow:hover {
    color: #f50057;
}
