body {
  background: #2d2d2d;
}
.Iam {
  padding: 2em 5em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: #fff;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;

}
.Iam .innerIam {
  display: inline-block;
  color: aqua;
  position: relative;
  white-space: nowrap;
  top: 0;
    left: 0;}