body {
    background-color: black;
    font-size: 100%;

}

#dis {
    top: 135%;
    left: 50%;
    position: absolute;
    color: whitesmoke;
}

#dis:hover {

    color: #757575;

}

h1 {
    /*  letter-spacing: 2px;*/
    color: white;
    font-size: 10em;
    line-height: 0.9;
    margin-top: 0.5em;
    position: relative;
    top: 20%;
    right: 10%;
    font-family: 'Roboto Slab', serif;

}


#we {
    color: #9e9e9e;
    top: 15%;
    position: relative;
    right: 10%;

}

@media (max-width: 575px) {
    h1 {
        font-size: 2em;
        line-height: 1;
        position: relative;
        left: 10%;
        top: 40%;
    }
    #we {
        font-size: 0.7em;
        left: 10%;
        top: 40%;
    }
    #dis {
        font-size: 0.7em;
        position: absolute;
        top: 20%;
        left: 35%;
    }

}

@media(max-width:767px) {
    h1 {
        font-size: 3.5em;
        line-height: 1;
        position: relative;
        right: 40%;
        top: 50%;

    }
    #we {
        font-size: 0.8em;
        right: 40%;
        top: 55%;
    }
    #dis {
        font-size: 0.7em;
        top: 200%;
        left: 1%;
    }

}

@media(max-width:991px) {
    h1 {
        font-size: 4em;
        line-height: 1;
        right: 40%;
        top: 100%;
    }
    #we {
        font-size: 1em;
        right: 40%;
        top: 85%;
    }
    #dis {
        font-size: 0.7em;
        top: 230%;
        left: 1%;
    }
}

@media(max-width:1199px) {
    h1 {
        font-size: 4em;
        line-height: 1em;
        top: 150%;
    }
    #we {
        top: 140%;
        font-size: 1.2em;
    }
    #dis {
        top: 275%;
        left: 15%;
        font-size: 0.6em;
    }
}

li {
    padding: 10px;
    text-decoration: none;

}

#socialicons {
    padding-top: 0;

}

.codrops-header {
    padding-bottom: 0;
}

.fa {
    color: #fafafa;
}

.fa:hover {
    color: #f50057;
}

#head {
    font-family: 'Roboto', sans-serif;
}

/*Scroll down Arrow*/
.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 20px;
	display: block;
	text-align: center;
	font-size: 30px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
